// Colors

$bw_10:  #f5f6f7;
$bw_9d5: #e5e6e7;
$bw_9:   #d7dbde;
$bw_8:   #bbbfc4;
$bw_7:   #9fa5ab;
$bw_6:   #848b91;
$bw_5:   #6b7178;
$bw_4:   #52585e;
$bw_3d5: #4b4d50;
$bw_3:   #3b4045;
$bw_2:   #24282b;
$bw_1:   #0e1012;

$white:  #fff;
$black:  #333;

// Grid

$column:       60px;
$gutter:       20px;
$max-width:    100%;
$grid-columns: 12;
$visual-grid:  true;
