!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head.no-skrollr
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}
    %link{:href => "assets/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "assets/normalize.css", :rel => "stylesheet"}
    %link{:href => "assets/application.css", :rel => "stylesheet"}
    %script{:src => "assets/custom.modernizr.js"}
    %title
  %body
    %script{:src => "assets/application.js"}
